body {
       background-image: url("output-onlinepngtools (2).png");
       background-repeat: no-repeat;
       background-position: left top;
       margin-left: 20px;
       background-attachment: fixed;
		  }


.button {
  border: solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: white;}




input[type=text] {
  width: 730px;
  box-sizing: border-box;
  border: 2px dotted white;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
}


.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}